body { 
  background: #071631;
  color: #333333;
}
button {
  background-color: antiquewhite;
}

#zoom_in{
  position: absolute;
  top: 330px;
  left: 20px;
}
#zoom_out{
  position: absolute;
  top: 330px;
  left: 40px;
}
#slider{
  position: absolute;
  top: 360px;
  left: 80px;
  stroke: antiquewhite;
  fill: #bed0d2;
}
#value{
  font-size: 100px;
  position: absolute;
  top: 400px;
  left: 1300px;
  color: bisque;
}
#box{
  position: absolute;
  top: 365px;
  left: 20px;
}


/*-----------------Map--------------*/
#tooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 10px;
  background-color: whitesmoke;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  pointer-events: none;
  color: black;
}

#tooltip.hidden {
  display: none;
}
#interactiveMap{
  position: absolute;
  top: 20px;
  left: 20px;
}
#bubbleMapLegend {
  position: absolute;
  top: 200px;
  left: 20px;
}


/*----------------------------*/


/*------------Script-----------*/
text{
  font-family:'Karla';
}

#title{
  font-size: 44px;
  color: #adff2f;
  position: absolute;
  top: 0px;
  left: 900px;
}


#descript{
  font-size: 20px;
  position: absolute;
  color: #D9E6BB;
  top: 60px;
  left: 900px;
}
 
/*-------------- Bar chart-------------*/  
#barchart{
  position: absolute;
  top: 280px;
  left: 900px;
}
.axis.xAxis text{
  fill: antiquewhite;
}
.axis.xAxis path{
  stroke: antiquewhite;
}
.axis.xAxis line{
  stroke: antiquewhite;
}

text.title{
  font-size: 24px;
  font-weight: 500;
  fill: #adff2f;
}
text.subTitle{
  fill: #D9E6BB;
  font-size: 17px;
}
text.label{
  font-weight: 600;
}
text.valueLabel{
  font-weight: 300;
  font-size: 14px;
}
/*Checkbox*/
label {
  color: whitesmoke;
}


/*------------------------------------*/

/*---------Line Chart------------*/
#linechart {    
  position:absolute;
  top:420px;
  left:0px;
  height:80px;
}
.line-group {
  mix-blend-mode: multiply;
}
.x.axis text{
  fill: antiquewhite;
}
.x.axis path{
  stroke: antiquewhite;
}
.x.axis line{
  stroke: antiquewhite;
}

.y.axis text{
  fill: antiquewhite;
}
.y.axis path{
  stroke: antiquewhite;
}
.y.axis line{
  stroke: antiquewhite;
}

